<div class="container" style="text-align:center; margin-top:20%;">
	<h3> 검색하는 페이지 입니다. </h3>


	<form action="/home/show" method="get">
		<input type="text" name="book">
		<input type="submit" value="검색">
	</form>
</div>

