<div class="message" style="text-align:center;">
	<h3><%=@searched_book_title%>의 검색 결과입니다.</h3>
</div>
<br>
<br>
<div class="books_wrapper" style="margin:0 auto;">
	<table style="margin:0 auto;">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Index</th>
	</tr>
		<% @book_list.each do |book| %>
			<!-- <div class="book_wrapper"> -->
			
				<tr>
					<td><a href="/home/obj/1"><%= book.title %></a></td>
					<td><%= book.author %></td>
					<td><%= book.index %></td>
				</tr>
			
			<!-- </div> -->
		<% end %>
	</table>
  <div style="text-align: center; color: red;">
    <p>
      책을 클릭하시면 3D 모델링 된 도서관이 나올예정이지만,
      예기치 않은 오류로 로딩이 안될 수 있습니다.
    </p>
    <p>
      그럴 경우 새로고침을 하시면 도서관이 나옵니다.
    </p>
    <p>
      로딩이 끝났을때는, w,a,s,d 로 움직일 수 있으며, 좌우 화살표로 방향을 전환할수 있습니다.
    </p>
    <p>
      아래 표시된 선을 따라가시면 해당 도서가 존재하는 책장을 찾을 수 있습니다.
    </p>
  </div>
</div>
