<div class="message" style="text-align:center;">
	<h3><%=@searched_book_title%>의 검색 결과입니다.</h3>
</div>
<br>
<br>
<div class="books_wrapper" style="margin:0 auto;">
	<table style="margin:0 auto;">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Index</th>
	</tr>
		<% @book_list.each do |book| %>
			<!-- <div class="book_wrapper"> -->
			
				<tr>
					<td><a href="/home/obj/1"><%= book.title %></a></td>
					<td><%= book.author %></td>
					<td><%= book.index %></td>
				</tr>
			
			<!-- </div> -->
		<% end %>
	</table>
</div>