<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!-- Div for the threeJS scene -->
<div id="threejs_scene"></div>

<!--<script src="three_scripts/vertexshader.js" type="x-shader/x-vertex" id="vertexshader"></script>
<script src="three_scripts/fragmentshader.js" type="x-shader/x-fragment" id="fragmentshader"></script>-->
<%#= javascript_include_tag "custom_three.js" %> 